/**/
#genius{
	width: 500px;
	height: 500px;
	background: url('img/bg.jpg') repeat 0 0;
	margin: 0 auto;
	-webkit-border-radius: 15%;
	border-radius: 15%;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	position: relative;
}
#genius .circle{
	width: 450px;
	height: 450px;
	background-color: #000;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%; 
	margin-top:-225px;
	margin-left:-225px;
}
#genius .circle:before{
	display: block;
	content: '';
	width: 410px;
	height: 410px;
	background-color: #000;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%; 
	margin-top:-205px;
	margin-left:-205px;

	/*box-shadow: -9px -12px 16px -13px #6b6b6b;*/
}
#genius .circle:after{
	content: '';
	background-color: #000;
	display: block;
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 1;
	top: 50%; 
	left: 50%; 
	margin-top: -100px;
	margin-left: -100px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
#genius .circle .bt-blue,
#genius .circle .bt-red,
#genius .circle .bt-yellow,
#genius .circle .bt-green{
	position: absolute;
	z-index: 1;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 0;
	height: 0;
	border-left: 170px solid transparent;
	border-right: 170px solid transparent;
}

.bt-blue{
	top: 67px;  
	left: -18px;
	-webkit-transform:rotate(135deg);
	border-bottom: 170px solid #5b87c8;
}
.bt-red{
	top: 67px;  
	right: -18px;
	-webkit-transform:rotate(-135deg);
	border-bottom: 170px solid #9c2009;
}
.bt-yellow{
	bottom: 67px;  
	left: -18px;
	-webkit-transform:rotate(45deg);
	border-bottom: 170px solid #f4da42;
}
.bt-green{
	bottom: 67px;  
	right: -18px;
	-webkit-transform:rotate(-45deg);
	border-bottom: 170px solid #509e2f;
}